body {
    font-family: adamina;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 50px ;
   
}
.colorize {
    color: orange;
}
.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.half-width img {
    width: 100%;
}
section {
    height: 500px;
}
.top-banner {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.hire-me {
    text-decoration: none;

    background-image: linear-gradient(lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.dream-area {
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    
}
.dream-area p {
    color: #696969;;
}